/* declare values for colors etc */
:root {
    --clr-text: #fff;
    --clr-background: #000;
    --z-translate: 30em;
    --perspective: 60em;
}

body {
    margin: 0;
}

.header {
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-background);

    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d;
    overflow: hidden;
}

.spinner__card--about_me {
    position: absolute;

    height: 25%;
    aspect-ratio: 1;
    background-color: var(--clr-text);

    transform: perspective(var(--perspective)) rotateY(0deg) translateZ(var(--z-translate));
    transition: all ease 3s;
}

.content:hover .spinner__card--about_me {
    transform: perspective(var(--perspective)) rotateY(360deg) translateZ(var(--z-translate));
}

.spinner__card--about_me p {
    color: black;
}

.spinner__card--2 {
    position: absolute;

    height: 25%;
    aspect-ratio: 1;
    background-color: var(--clr-text);

    transform: perspective(var(--perspective)) rotateY(180deg) translateZ(var(--z-translate));
    transition: all ease 3s;
}

.content:hover .spinner__card--2 {
    transform: perspective(var(--perspective)) rotateY(540deg) translateZ(var(--z-translate));
}

.spinner__card--2 p {
    color: black;
}