/* declare values for colors etc */
:root {
    --clr-wrapper: rgba(60, 50, 70, 10);
    --clr-wrapper-blur: rgba(80, 70, 90, 10);
    --clr-buttons: grey;
}

body {
    /* use flex for display */
    display: flex;
    /* set the background color to our ^ value */
    background-color: var(--clr-wrapper);
}

/* wrapper used for containing the main buttons */
.wrapper {
    /* declare width and height */
    width: 25vw;
    height: 75vh;
    /* declare the display and direction */
    display: flex;
    flex-direction: column;
    /* declare the background and border radius(shape corners) */
    background-color: white;
    border-radius: 2em;
    /* give an underglow effect */
    box-shadow: 0 0 5vw 5vh var(--clr-wrapper-blur);
    /* make it's margins auto so it goes in the center */
    margin: auto;
}

/* main buttons on the page */
.button {
    /* declare the width and height in procedural values */
    width: 50%;
    height: 10%;

    /* center the content with procedural margins */
    margin: auto;
    background-color: var(--clr-buttons);
    border-radius: 0.5em;

    position: relative;
}

/* inside parts of the buttons(they animate) */
.button::after {
    position: absolute;
    width: 90em;
    height: 90em;
    background-color: black;
}