:root {
    --right-place: ;
    --right-place-start: ;
    --left-place: ;
    --left-place-start: ;
    --page-height: 100vh;
}

html,body {
    margin: 0;
    max-height: 100%;
}

.blobs--right-wrapper {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 0;

    width: 100%;
    height: var(--page-height);
    margin: 0em;
    padding: 0em;
    z-index: -1;

    position: fixed;

    overflow: hidden;
}

.blobs--right {
    margin-left: auto;
    margin-right: 0;

    border-radius: 50%;

    transform: translateX(var(--right-place));

    animation-name: blobs--right-animation;
    animation-duration: 2s;
}

@keyframes blobs--right-animation {
    from {transform: translateX(var(--right-place-start));}
    to {transform: translateX(var(--right-place));}
}

.blobs--left-wrapper {
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 0;

    width: 100%;
    height: var(--page-height);
    margin: 0em;
    padding: 0em;
    z-index: -1;

    position: fixed;

    overflow: hidden;
}

.blobs--left {
    border-radius: 50%;

    transform: translateX(var(--left-place));

    animation: blobs--left-animation 2s;
}

@keyframes blobs--left-animation {
    from {transform: translateX(var(--left-place-start));}
    to {transform: translateX(var(--left-place));}
}