:root {
    --right-place-2: ;
    --right-place-start-2: ;
    --left-place-2: ;
    --left-place-start-2: ;
}

body {
    margin: 0;
}

.blobs--right-2{
    margin-left: auto;
    margin-right: 0;

    border-radius: 50%;

    transform: translateX(var(--right-place-2));

    animation-name: blobs--right-animation-2;
    animation-duration: 2s;
}

@keyframes blobs--right-animation-2 {
    from {transform: translateX(var(--right-place-start-2));}
    to {transform: translateX(var(--right-place-2));}
}

.blobs--left-2{
    border-radius: 50%;
    
    transform: translateX(var(--left-place-2));

    animation-name: blobs--left-animation-2;
    animation-duration: 2s;
}

@keyframes blobs--left-animation-2 {
    from {transform: translateX(var(--left-place-start-2));}
    to {transform: translateX(var(--left-place-2));}
}