.title-bar {
    color: black;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;

    font-family: 'Lobster', cursive;
}

.title-bar:hover {
    color: tomato;
}

.title-bar>* {
    animation-name: title-slide;
    animation-duration: 2s;
}

@keyframes title-slide {
    from {transform: translateY(-160%);}
    to {transform: translateY(0%);}
}

.cards-wrapper {
    margin-top: 5%;
    color: black;
    display: flex;
    justify-content: space-around;

    font-family: 'Fuzzy Bubbles', cursive;
}

a {  
 text-decoration:none;  
} 

.cards-wrapper>* {
    display: flex;
    background-color: white;
    color: black;

    width: 100%;
    aspect-ratio: 1;
    margin: 5%;
    border-radius: 1em;

    border: solid;

    justify-content: center;
    align-items: center;

    animation-name: cards-slide-desktop;
    animation-duration: 2s;
}

@keyframes cards-slide-desktop {
    from {transform: translateX(-425%);}
    to {transform: translateX(0%);}
}

@keyframes cards-slide-media {
    from {transform: translateX(-125%);}
    to {transform: translateX(0%);}
}

@media only screen and (max-width: 600px) {
    .cards-wrapper {
        flex-direction: column;
    }

    .cards-wrapper>*{
        width: 90%;
        height: 20vh;
        animation-name: cards-slide-media;
    }
}

.cards-wrapper>*:hover {
    background-color: tomato;
    cursor: pointer;
}
