.background_image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-image: url(../../res/background.svg);
}

.home__body {
  display: flex;

  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.9);
}

.home__body--image {
  height: 90vh;
}

.home__body--panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.home__body--panel--item {
  text-align: center;
}

.home__body--panel--item--wrapper {
  display: flex;
  color: grey;

  background-color: rgba(255, 255, 255, 0.1);

  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.home__body--panel--item--wrapper:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}

/* only for mobile */
@media only screen and (max-width: 900px) {
  .home__body {
    flex-direction: column;
  }

  .home__body--image {
    display: none;
  }

  .home__body--panel--item--wrapper {
    height: 10em;
  }
}
